{% extends 'layout.twig' %}

{% block body %}
	<div class="col-md-6 offset-md-3">
		<a href="/cars">
			Précédent
		</a>
		<h1>Créer une voiture</h1>
		<form method="post" action="/cars/create">

			<div class="form-group">
				<label>Nom</label>
				<input type="text" name="name" class="form-control">
			</div>

			<div class="form-group">
				<label>Modèle</label>
				<input type="text" name="model" class="form-control">
			</div>

			<div class="form-group">
				<label>Moteur</label>
				<input type="text" name="engine" class="form-control">
			</div>

			<div class="form-group">
				<label>Couleur</label>
				<input type="text" name="color" class="form-control">
			</div>

			<div class="form-group">
				<label>Carburant</label>
				<input type="text" name="fuel" class="form-control">
			</div>

			<div class="form-group">
				<label>Marque</label>
				<select name="brandId" class="form-control">
					{% for brand in brands %}
					    <option value="{{ brand.id }}">
					    	{{ brand.name }}
					    </option>
					{% endfor %}
				</select>
			</div>

			<button class="btn btn-primary">
				Sauvegarder
			</button>
		</form>
	</div>
{% endblock %}