{% extends 'layout.twig' %}

{% block body %}
	<h1>Liste des voitures</h1>
	<table class="table">
		<thead>
			<th>Nom</th>
			<th>Fuel</th>
			<th>Marque</th>
			<th></th>
		</thead>
		<tbody>
			{% for car in cars %}
			<tr>
				<td>{{ car.name }}</td>
				<td>{{ car.fuel }}</td>
				<td>{{ car.brand.name }}</td>
				<td>
					<a href="/cars/{{ car.id }}/view" class="btn btn-primary">
						Voir
					</a>
					<a href="/cars/{{ car.id }}/remove" class="btn btn-danger">
						Supprimer
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
